{{#if user}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form id='register-form' action="updateUser" method='post'>
          <h2>Update Profile</h2>
          <input type="text" class="form-control" value="{{ user.email }}" name="email" placeholder="Email" required>
          <input type="password" class="form-control" name="password" placeholder="Password" required>
          <input type="text" class="form-control" value="{{ user.zipcode }}" name="zipcode" placeholder="Zip Code" required>
          <input type="hidden" class="form-control" value="{{ user.username }}" name="username">
          {{#if parties}}
            <select name="political_party_id" required class="form-control">
              <option value="">Political Affilation</option>
              {{#each parties}}
                <option value="{{ this.political_party_id }}" {{ ternary ../user.political_party_id this.political_party_id 'selected' '' }}>{{ this.name }}</option>
              {{/each}}
            </select>
          {{/if}}

         <br><br>

         <h2>Customize Your Experience</h2>
         <input type="checkbox" name="reminder" {{ ternary user.reminder 1 'checked' '' }}> Get reminders for upcoming events<br>
         <input type="checkbox" name="newsletter" {{ ternary user.newsletter 1 'checked' '' }}> Receive an election newsletter<br>
         <br>

          <br><br><br>
          <button class="btn btn-default" type='submit'>Update</button>
          <a class="btn btn-default" href="/profile"><span>Cancel</span></a>
        </form>
      </div>
    </div>
      {{#if successful }}
      <div class="row">
        <div class="col-md-12">
          <p class="error-message">{{ successful }}</p>
        </div>
      </div>
    {{/if}}
  </div>
{{else}}
  <script type="text/javascript">
    window.open("/login", "_parent");
  </script>
{{/if}}
