<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="election-detail">
				{{#each electionDetail }}
					<div class="row election-header">
						<div class="col-md-6 election-detail-title">
							<span>{{ this.title }}</span>
						</div>
						<div class="col-md-6 election-detail-date">
							<span>{{ this.election_date }}</span>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="row election-candidates">
		{{#each candidates }}
			<div class="col-md-4">
				<p class="election-detail-candidate-party text-center">{{ this.party }}</p>
				<div class="election-candidate">
					<p>{{ this.first_name }} {{ this.last_name }}</p>
				</div>
			</div>
		{{/each}}
	</div>
	<div class="row">
		<div class="col-md-12 back-button">
			{{#each electionDetail }}
				<a href="/getLocalInfo?zipcode={{ zipcode }}"><button class="btn btn-primary">Back to Results</button></a>
			{{/each}}
		</div>
	</div>
</div>

