{{#if user}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">User Profile</h2>
        <div class="profile">
          <div class="profile-info">
            <p><span class="profile-label">Username: </span><span class="profile-data">{{ user.username }}</span></p>
          </div>
          <div class="profile-info">
            <p><span class="profile-label">Email: </span><span class="profile-data">{{ user.email }}</span></p>
          </div>
          <div class="profile-info">
            <p><span class="profile-label">Zipcode: </span><span class="profile-data">{{ user.zipcode }}</span></p>
          </div>
          <div class="profile-info">
            <p><span class="profile-label">Party: </span><span class="profile-data">{{ user.party }}</span></p>
          </div>
          <div class="profile-info">
            <p><span class="profile-label">Reminder: </span><span class="profile-data">{{ ternary user.reminder 1 'Yes' 'No' }}</span></p>
          </div>
          <div class="profile-info">
            <p><span class="profile-label">Newsletter: </span><span class="profile-data">{{ ternary user.newsletter 1 'Yes' 'No' }}</span></p>
          </div>
          <form id='profile-form' action="editProfile" method='get'>
            <button class="btn btn-default" type='submit'>Edit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>No user information found</p>
      </div>
    </div>
  </div
{{/if}}
