{{#if user}}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <br><br>
        <h2>User Profile</h2>
        <br><br>
        <h4 style="display:inline">Username:</h4><p class="profile-info">{{ user.username }}</p>
        <br><br>
        <h4 style="display:inline">Email:</h4><p class="profile-info">{{ user.email }}</p>
        <br><br>
        <h4 style="display:inline">Password:</h4><p class="profile-info">Hidden</p>
        <br><br>
        <h4 style="display:inline">Zipcode:</h4><p class="profile-info">{{ user.zipcode }}</p>
        <br><br>
        <h4 style="display:inline">Party:</h4><p class="profile-info">{{ user.party }}</p>
        <br><br>
        <h4 style="display:inline">Reminders:</h4><p class="profile-info">{{ ternary user.reminder 1 'Yes' 'No' }}</p>
        <br><br>
        <h4 style="display:inline">Newsletter:</h4><p class="profile-info">{{ ternary user.newsletter 1 'Yes' 'No' }}</p>
        <br><br>
        <form id='profile-form' action="editProfile" method='get'>
          <button class="btn btn-default" type='submit'>Edit</button>
          <a class="btn btn-default" href="/"><span>Cancel</span></a>
          </form>

        </div>
      </div>
    </div>
{{else}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>No user information found</p>
      </div>
    </div>
  </div
{{/if}}
