


<div> Registration Deadline: {{ when }} </div>
<div> Where to Vote:{{where}} </div>
<div> Voter Age Requirements: {{{Age}}} </div>
<div> Voter ID Requirements: {{{voterID}}} </div>
<div> Register Here: {{howToReg}} </div>